body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 0.875rem;
  line-height: 1.5rem;
  overscroll-behavior: none;
  overflow: hidden;
}

#top-info,
#bottom-info {
  position: absolute;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1; /* TODO Solve this in HTML */
}

#top-info {
  top: 0;
}

#bottom-info {
  bottom: 0;
}

#full-name {
  font-size: 1rem;
}

button {
  font-family: Monospace;
  border: none;
  padding: 0;
  background: none;
}

a, button {
  color: #8d6e63;
}

a:hover, button:hover {
  color: #a1887f;
  text-decoration: underline dotted;
}