body {
  font-family: 'Poppins', serif;
  background-color: black;
  color: #aaa;
  width: 100%;
  height: 100vh;
}

main {
  margin: 3rem 0rem;
}

.logo-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  position: absolute;
  z-index: 999;
}

@keyframes logo-remove {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

#logo {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes logo-stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes logo-fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@media (max-width: 767px) {
  body {
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

p {
  text-align: justify;
}

a {
  color: #8d6e63;
}

a:hover {
  color: #a1887f;
  text-decoration: underline dotted;
}

main > *:not(:last-child),
section:not(:last-child) {
  margin-bottom: 3rem;
}

address a {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  address a {
    justify-content: center;
  }
}

address a:not(:last-child) {
  margin-bottom: 0.25rem;
}

address a span {
  margin-left: 0.25rem;
}

#name, #username, #username-ipa {
  letter-spacing: 0.2rem;
}

#name {
  font-weight: 900;
}

#username, #username-ipa {
  font-weight: 600;
}

#username {
  font-size: 1.75rem;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}